= simple_form_for task do |f|
  = f.input :name, autofocus: true
  = render "application/markdown_textarea", f:, method: :completion_condition
  .hstack.gap-2
    = f.input :status, include_blank: false
    = f.input :deadline_on, html5: true
    = f.input :perform_on, html5: true
  = render "application/markdown_textarea", f:, method: :sub_tasks
  = render "application/markdown_textarea", f:, method: :memo
  .vstack.gap-2.mb-4
    = f.label :tags
    = f.collection_select :tag_ids, tags, :id, :name, {}, { multiple: true, data: { controller: "slim-select" } }
  = f.button :submit, submit_button_label(task), class: "btn btn-primary d-block w-100"
