= simple_form_for task do |f|
  = f.input :name, autofocus: true
  = render "application/markdown_textarea", f:, method: :completion_condition
  .hstack.gap-2
    = f.input :status, include_blank: false
    = f.input :deadline_on, html5: true
    = f.input :perform_on, html5: true
  = render "application/markdown_textarea", f:, method: :sub_tasks
  = render "application/markdown_textarea", f:, method: :memo
  = f.association :tags, collection: tags, label_method: :name, value_method: :id
  = f.button :submit, submit_button_label(task), class: "btn btn-primary d-block w-100"
