= simple_form_for [ achievement, challenge ] do |f|
  = f.input :name, autofocus: true
  = render "application/markdown_textarea", f:, method: :description
  .hstack.gap-2
    = f.input :perform_at, html5: true
    = f.input :performed_at, html5: true
  = f.input :active
  = f.button :submit, submit_button_label(challenge), class: "btn btn-primary d-block w-100"
