= turbo_frame_tag dom_id(@achievement, :challenges) do
  .vstack
    %h2.fs-4.my-4 小さな挑戦
    %ul.nav.nav-tabs.mb-3
      - current_scope_chains = params[:scope_chains]
      %li.nav-item
        - scope_chains = "active.unperformed"
        = link_to "未実行", achievement_challenges_path(@achievement, scope_chains:),
                  class: class_names("nav-link", active: current_scope_chains == scope_chains)
      %li.nav-item
        - scope_chains = "active.performed"
        = link_to "実行済み", achievement_challenges_path(@achievement, scope_chains:),
                  class: class_names("nav-link", active: current_scope_chains == scope_chains)
      %li.nav-item
        - scope_chains = "inactive"
        = link_to "無効", achievement_challenges_path(@achievement, scope_chains:),
                  class: class_names("nav-link", active: current_scope_chains == scope_chains)
      %li.nav-item
        = link_to "全て", achievement_challenges_path(@achievement), class: class_names("nav-link", active: current_scope_chains.blank?)
    .vstack.gap-2
      = link_to "新規作成", new_achievement_challenge_path(@achievement), data: { turbo_frame: :_top }, class: "btn btn-secondary"
      .vstack.mb-3
        - @challenges.each do |challenge|
          = link_to edit_achievement_challenge_path(@achievement, challenge), data: { turbo_frame: :_top }, class: "text-decoration-none" do
            = render "challenge", challenge:
        = paginate @challenges
