= simple_form_for achievement do |f|
  = f.input :name, autofocus: true
  = render "application/markdown_textarea", f:, method: :description
  = render "application/markdown_textarea", f:, method: :memo
  .row
    .col
      .vstack.gap-2
        = f.label :parent
        = f.collection_select :parent_id, achievements, :id, :name, {}, { data: { controller: "slim-select" } }
    .col-auto
      = f.input :achieved_on, html5: true
  = f.input :active
  = f.button :submit, submit_button_label(achievement), class: "btn btn-primary d-block w-100"
