= turbo_refreshes_with(method: :morph, scroll: :preserve)

.row.container-fluid
  .col-md-6.col-11
    %h1.fs-4.my-4 実績
    .mb-3= render "form", achievement: @achievement, achievements: @achievements
    .hstack.justify-content-between
      = link_to "一覧に戻る", achievements_path, class: "btn btn-link"
      - if @achievement.destroyable?
        = button_to "削除", achievement_path(@achievement), method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "btn btn-danger"
  .col-md-6.col-11
    = turbo_frame_tag dom_id(@achievement, :challenges), src: achievement_challenges_path(@achievement, scope_chains: "active.unperformed")
