= simple_form_for activity do |f|
  = f.input :name, autofocus: true
  .row
    .col-auto
      = f.input :performed_at, html5: true
    .col
      .vstack.gap-2
        = f.label :task
        = f.collection_select :task_id, tasks, :id, :name, { include_blank: true }, { data: { controller: "slim-select" } }
  = render "application/markdown_textarea", f:, method: :memo
  = f.simple_fields_for :activity_evaluation do |ff|
    = ff.input :value, include_blank: false
    = render "application/markdown_textarea", f: ff, method: :reason
  = f.button :submit, submit_button_label(activity), class: "btn btn-primary d-block w-100"
