%nav.navbar.navbar-expand-lg.shadow.sticky-top.bg-dark
  .container-fluid
    = link_to "LIFE QUEST", root_path, class: "navbar-brand"
    %button.navbar-toggler{ type: :button, data: { bs: { toggle: :collapse, target: "#navbar-nav" } }, aria: { controls: "navbar-nav", expanded: false } }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-nav
      %ul.navbar-nav
        %li.nav-item
          = link_to "実績", achievements_path(scope_chains: "active.ideal"),
                    class: class_names("nav-link", "text-primary-emphasis active": active_menu?(:achievement))
        %li.nav-item
          = link_to "タスク", tasks_path, class: class_names("nav-link", "text-primary-emphasis active": active_menu?(:task))
        %li.nav-item
          = link_to "小さな挑戦", challenges_path, class: class_names("nav-link", "text-primary-emphasis active": active_menu?(:challenge))
        %li.nav-item
          = link_to "行動サマリ", activity_summaries_path, class: class_names("nav-link", "text-primary-emphasis active": active_menu?(:activity_summary))
        %li.nav-item
          = link_to "行動", activities_path(scope_chains: "scheduled"), class: class_names("nav-link", "text-primary-emphasis active": active_menu?(:activity))
        %li.nav-item
          = link_to "タグ", tags_path, class: class_names("nav-link", "text-primary-emphasis active": active_menu?(:tag))
        %li.nav-item
          = button_to "ログアウト", session_path, method: :delete, data: { turbo_confirm: "ログアウトしますか？" }, class: "nav-link"
